body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 10%, 92%);
  }
  
  header {
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(59, 4, 17);
    text-align: center;
  }
  
  header h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
  
  header p {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
  }
  
  .feature {
    flex-basis: calc(33.33% - 2rem);
    margin: 1rem;
    background-color: rgb(219, 21, 117);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
  }
  
  .feature h3 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: rgb(23, 4, 4);
    padding: 1rem;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }